@import url('https://fonts.googleapis.com/css2?family=Oi&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: #f7f5e5;
}

footer {
  width: 100%;
  border-top: 5px solid #0dc0e0;
  position: fixed;
  bottom: 0;
  padding: 15px;
  display: flex;
  align-items: left;
  font-size: 25px;
}

footer button { justify-content: flex-end; }

#slogo { height: 75px; width: 75px; }
