@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@font-face { font-family: 'Minecraft'; src: url('MinecraftTen.oft'); }

* { font-family: 'SN Pro'; }

body {
  background: #f7f5e5;
}

footer {
  width: 100%;
  border-top: 4px solid #0dc0e0;
  position: fixed;
  bottom: 0;
  padding: 15px;
  display: flex;
  align-items: center;
  text-align: left;
  jutify-content: flex-end;
  font-size: 20px;
  color: #0dc0e0;
  /* font-weight: 400; */
}
footer span { margin-left: 10px; font-family: 'Minecraft'; }

footer button { justify-content: flex-end; }

#slogo { height: 50px; width: 50px; }
