:root {
  --background:
}

body {
  color: #f7f5e5;
}

header {
  border-bottom: 5px solid #
}

header img { height: 125px; width: 125px; }

.main {
  -webkit-box-shadow:0px 0px 105px 24px rgba(13,192,224,0.9);
  -moz-box-shadow: 0px 0px 105px 24px rgba(13,192,224,0.9);
  box-shadow: 0px 0px 105px 24px rgba(13,192,224,0.9);
}
